
a {
  cursor: pointer;
}

html,
body {
  background: #ffffff;
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

#outer-container {
  height: 100%;
  flex-grow: 1;
}

#dashboard-title-container {
  width: 100%;
  height: 100px;
  justify-content: center;
  margin-bottom: 10px;
}

#dashboard-title {
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border: double #073B3A 5px;
  justify-content: center;
  margin-bottom: 20px;
}

#dashboard-title h1 {
  color: #073B3A;
}

.header-footer {
  width: 100%;
  height: 40px;
  background-color: #073B3A;
}

#main-container {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

#right-container {
  width: 30%;
  min-width: 30%;
  align-items: center;
  margin-bottom: 10px;
}

#info-box {
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  border-radius: 10px; 
  margin-bottom: 10px;
  background-color: #073B3A;
  padding-bottom: 10px;
}

#info-box p {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  font-size: 14px;
}

#info-box h3 {
  font-weight: bold;
  color: #FFFFCC;
  text-decoration: underline;
}

#info-box a {
  font-size: 12px;
  color: white;
}

#info-box ul {
  margin-top: 0;
  margin-bottom:0;
  color: white;
}

#bar-chart-title {
  margin-bottom: -10px;
}

#bar-chart-title > h3 {
  text-align: center;
  color: #073B3A;
}

#bar-chart {
  justify-content: center;
  border: 2px solid #073B3A;
  border-radius: 10px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
}

#left-container {
  padding-right: 10px;
  width: 70%;
  min-width: 70%;
  align-items: center;
}

#map-title > h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #073B3A;
}

#map {
  border: 2px solid #073B3A;
  height: 70%;
  width: 90%;
  opacity: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  align-items: center;
}

#tooltip {
  position: absolute;
  pointer-events: none;
  background: #073B3A;
  color: #FFFFCC;
  border-radius: 10px;
  padding: 10px;
  min-width: 100px;
  opacity: 90%;
  font-size: 14px;
}

#map-legend {
  margin-top: 10px;
}

#reset-button {
  margin-top: 10px;
  margin-bottom: 20px;
}

#county-reset {
	background-color:#073B3A;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}

#county-reset:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}

#county-reset:active {
	position:relative;
	top:1px;
}

#filter-bar {
  width: 80%;
  height: 40px;
  border: solid #073B3A 1px;
  border-radius: 10px;
  margin-bottom: 10px;
  justify-content: space-evenly;
  align-items: center;
}

#filter-bar label {
  display: block;
  position: relative;
  padding-left: 25px;
  color: #073B3A;
  font-size: 16px;
}

#filter-bar input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

#filter-bar label:hover input ~ .custom-checkmark {
  background-color: #ccc;
}

#filter-bar label input:checked ~ .custom-checkmark {
  background-color: #073B3A;
}

.custom-checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

.custom-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#filter-bar label input:checked ~ .custom-checkmark:after {
  display: block;
}

#filter-bar label .custom-checkmark:after {
  top: 4.3px;
  left: 4.3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

#line-chart {
  margin-bottom: 30px;
  border: 2px solid #073B3A;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

#line-chart-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

#line-chart-title > h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: #073B3A;
}

.y-axis .tick {
  stroke-width: 0.3px;
}

.y-axis .domain {
  stroke: none;
}

.y-axis-label text {
  font-size: 14px;
}

.x-axis-label text {
  font-size: 14px;
}

#footer {
  flex-shrink: 0;
}
